body{
    background-color: rgb(52, 50, 50);
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    
}
.container{
    box-sizing: border-box;
    display: flex;

}
.crime_container{
    color: darkgoldenrod;
   
    
}
.abc{
    background-color: rgb(223, 223, 232);
    color:darkolivegreen;
   
 }
 .abc :hover{
   color:darkred;
 }
.dns{
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    border: 2px;
    border-radius: 1.5px;
}
.ipspoof{
    box-sizing: border-box;
    padding: 20px;
    border: 2px;
    text-align: center;
    width: 500px;
    height: 300px;
    border-radius: 1.5px;
}

#highlight, #highlight_1{
  color: rgb(32, 201, 207);
}
