@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins',sans-serif;
}
:root{
  --clr:linear-gradient(to right, #434343,#000000);
}
body{ 
    min-height: 100vh;
    background: var(--clr);
}
.navigation{
    position:relative;
    width: 100%;
    height: 100px;
    background: #ffff;
    display: flex;
    justify-content:space-between;
    align-items: center;
   /* border-radius: 10px;*/
}
.navigation ul{
    display: flex;
    width:350px;
}
.navigation ul li{
    position: relative;
    list-style: none;
    margin:2px;
    width:80px ;
    height:80px;
    padding:7px;
    z-index:1;
}
.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    text-align: center;
    font-weight: 550;
    text-decoration: none;

}
.navigation ul li a .icon{
    color:#000000;

}
.navigation ul li a .text{
    color:#000000;
    text-decoration: none;

}

.content{
   display:flex;
   /* align-items: center;
   justify-content: center; */
   width:100%;
   /* height:auto; */
}

/* ---------------- */

.paragraph {
  flex: 1; /* Take remaining space */
  padding-right: 20px; /* Add some space between paragraph and image */
  margin-top: 100px;
  margin-left: 50px;
}

.img {
  flex: 1; /* Take remaining space */
  display: flex;
  justify-content:center;
}

.img img {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  margin-top: 40px;
}

/* ---------------- */

 h2{
    align-items: left;
    justify-content: center;
    font-size: 2.5rem;
    margin-bottom:20px;
    color: #82b0bf;
    /* padding-left:280px; */
 }

/* .img{
    display:flex;
    justify-content:flex-end;
    margin-top: 40px;
} */
@keyframes floating{
    0%{
      transform :translateY(0px);
    
    }
    50%{
        transform:translateY(-30px);
    }
    100%{
        transform :translateY(0px); 
    }
    }
    .content .img img {
        animation: floating 5s ease-in-out infinite; /* Adjust duration and timing function as needed */
    }

 .logo{
     display:flex;
     justify-content:space-around;
     height: 100px;
     width: 100px;

  }
 .logo h1{
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000;
  }
  .navigation button{
     padding:5px;
     width:80px;
     background-color: #434343;
     color: aliceblue;
     border-radius: 15px;
     margin-right: 8px;
  }


.content .paragraph{
color:white;
padding: 50px;
font-size: 1.3rem;
}

#meet-container{
  margin: 50px;       
  text-align: center;
}

.wrapper {
    width:100%;
   /* height:500px;*/
    margin-top: 200px;
    display: flex;
    justify-content:space-evenly;
    align-items: flex-start;
    border-radius: 10px;

    
  }
  
  .card {
    width: 300px;
    height:450px;
    background: #8d8f92;
    box-shadow: 0px 6px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
    border-radius: 10px;
    margin-bottom: 50px;

  }
  /*.card:hover {
    transform: translateY(20px);
  }*/
  
  /*.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 176, 155, 0.5), rgba(150, 201, 61, 1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
  }*/
  
  .card img {
    width: 100%;
    height: auto; /* Adjust height to maintain aspect ratio */
    display: block;
    border-radius: 2px;
  }
  
  .info {
    padding: 1rem;
  }
  
  .info h1 {
    margin: 0;
  }
  
  .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
  }
  
  .info a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #434141;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin:2px;
    border-radius: 7px;
    transition: 0.4s ease-in-out;
  }
  
  .info a:hover {
    box-shadow: 0px 6px 7px 5px rgba(22, 21, 21, 0.5);
  }
  footer{
    background-color: #535050;
  }
  .footerContainer
  {
    width:100%;
    padding :70px 30px,20px;
    height:200px;
    }
    .socialIcons{
      display: flex;
      justify-content: center;
    }
    .socialIcons a{
      text-decoration: none;
      padding:10px;
      background-color: #ffff;
      margin:10px;
      margin-top: 20px;
      margin-top: 40px;
      border-radius: 50%;
      align-items: center;
    }
    .socialIcons a .icon{
      color:#000;
      opacity:0.9;
    }
    .socialIcons a:hover{
      background-color: #6f6c6c;
      transition: 0.5s;
    }
    .socialIcons a:hover .icon{
      color: white;
      transition: 0.5s;
    }
    .footerNav{
      display: flex;
      justify-content: center;
      list-style-type:none;
      padding:10px;
    }
    .footerNav ul {
      display:flex;
      justify-content: center;
      list-style-type: none;
    }
    .footerNav ul li a{
      color:white;
      margin:20px;
      text-decoration: none;
      font-size: 1.3em;
      opacity: 0.7;
      transition: 0.5s;
    }
    .footerNav ul li a:hover{
      opacity:1;
    }
    .footerBottom p{
      color:white;
      display: flex;
      justify-content: center;
      margin: 10px;
      padding-bottom: 30px;
    }
    .designer{
      opacity: 0.7;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 400;
      margin: 0px 5px;
    }
    @media (max-width: 700px){
      .footerNav ul{
          flex-direction: column;
      } 
      .footerNav ul li{
          width:100%;
          text-align: center;
          margin: 10px;
      }
      .socialIcons a{
          padding: 8px;
          margin: 4px;
      }
  }
  